.errors {
  color: red;
}

.Body{
  height: 40%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.submitButton{
  border:none;
  background-color: #b67295;
  text-align: center;
  height:50px;
  width:150px;
  cursor: pointer;
}

.buttonContainer{
  padding-top: 20px;
}
