

.HomeList{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.eventLink{
  display:flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  justify-content: center;
}

.addGroupLink{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.groupLink{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}


.JoinButton{
  background-color:#709874;
  border: none;
  margin: center;
  font-family: 'lemon_milkmedium';
  text-transform: uppercase;
  border: none;
  width:5%;
  height:5%;
}

.eventImageImg{
  height:150px;
  width: 350px;
  justify-content: center;
}

.addGroupImageImg{
  height: 150px;
  width: 150px;
  justify-content: center;
}

.groupImageImg{
  height: 156px;
  width: 156px;
  justify-content: center;
}

.eventText{
  text-align: center;
}

.addGroupText{
  text-align: center;
}

.groupText{
  text-align: center;
}

.MidTitle{
  text-align: center;
  font-family: 'lemon_milkmedium';
}

.MidBody{
  text-align: center;
  font-family: 'lemon_milkmedium';
  width: 200px;
  margin:auto;
}

.HeaderTitle{
  font-family:'lemon_milkmedium';
}

.HeaderBody{
  font-family: 'lemon_milkmedium';
}

.HeaderImage{
  height:400px;
  width: 400px;
}

.TopHeader{
  display: flex;
  flex-direction: row;
  padding-left:600px;
  padding-right:600px;
  position: relative;
}

.TopHeaderText{
  display:flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  justify-content: space-evenly;
}
