ul{
  list-style: none;
  gap: 30px;
  padding-right: 20px;
  display:block;
  float:right;
}


.hidden{
  display:none;
}

.login{
  display:flex;
  float:right;
  gap:30px;
  padding-right: 20px;
  padding-top: 30px;}

  .profileButton{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    float:right;
    padding-right: 30px;
    color:#b67295;
  }

  .NavFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    padding-top:10px;
      }

.GroupNav{
  justify-content: flex-end;
}
